asgiref==3.11.0
attrs==25.3.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
bcrypt==4.2.0
blinker==1.9.0
boto3==1.37.9
botocore==1.37.9
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
configobj==5.0.9
constantly==23.10.4
flask==3.0.2
gunicorn==21.2.0
numpy==2.4.0
requests==2.32.5
urllib3==2.3.0
wadllib==2.0.0
zipp==3.21.0
zope.interface==7.2
